(logging/init)
(info "loading" *config-file*)


(tcp-server :host "0.0.0.0"   :port 5555)
(udp-server :host "0.0.0.0"   :port 5555)
(ws-server  :host "0.0.0.0"   :port 5556)

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(let [index (index)]
    ; Inbound events will be passed to these streams:
    (streams
        ; Index all events immediately.
        index
        prn

        ; Log expired events.
        (expired  #(warn "expired" %))
    )
)